/* Общие стили для .modal и .submit */
.modal {
    color: black;
}

.submit {
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: blue;
}

@media (max-width: 1200px) {
    .modal {
        font-size: 1.2rem; 
    }

    .submit {
        padding: 0.8rem 1.6rem; 
    }
}

@media (max-width: 992px) {
    .modal {
        font-size: 1.1rem; 
    }

    .submit {
        padding: 0.7rem 1.4rem;
    }
}


@media (max-width: 768px) {
    .modal {
        font-size: 1rem; 
    }

    .submit {
        padding: 0.6rem 1.2rem;
    }
}

@media (max-width: 576px) {
    .modal {
        font-size: 0.9rem;
    }

    .submit {
        padding: 0.5rem 1rem;
        font-size: 0.9rem; 
    }
}
