body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #28a745;
    font-family: Arial, sans-serif;
}

.container.dark-mode {
    background-color: #1e1e1e;
    border-left: 5px solid #00bcd4;
}

h1 {
    font-size: 36px;
    color: #28a745;
    margin-bottom: 10px;
}

h1.dark-mode, 
h2.dark-mode, 
p.dark-mode {
    color: #e0e0e0;
}

p {
    font-size: 18px;
    color: #333333;
    line-height: 1.8;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #28a745;
    padding-bottom: 5px;
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    h1, h2, p {
        margin-bottom: 15px;
    }

    p {
        line-height: 1.5;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}
